.titleBox {
  text-align: center;
  color: white;
  background-color: #3CB46D;
  width: 100%;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 27px;
}

.textBox {
  text-align: center;
  color: black;
  background-color: white;
  width: 100%;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.imgBox img {
  width: 50%;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.imgBox {
  z-index: 1;
}

.playBox {
  background-color: white;]
  width: 100%;
  white;
}

.playBox button {
  text-align: center;
  color: white;
  background-color: #3CB46D;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 27px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 350px;
  border-radius: 15px;
}

.playBox button:hover {
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
}
