html, body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.navbar {
  background-color: #CECECE;
  height: 96px;
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
  z-index: 1;
}

/* Xpbar / Playerbar */

.boxBar {
  position: relative;
  background-color: #3CB46D;
  height: 100%;
  max-height: 60px;
  border-radius: 30px;
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
  transition: .4s;
}

.boxIcon {
  position: relative;
  background-color: white;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  float: left;
  border: 0;
  padding: 0;
}

.levelTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 27px;
  color: #3CB46D;
}

.levelText {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0;
  color: #3CB46D;
}

.boxText {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 0;
  font-size: 25px;
  color: white;
  width: 100%;
  padding: 10px;
}

.boxTxtBar {
  width: calc(100% - 60px);
  float: right;
  height: 100%;
}

.center {
  margin: auto;
}

.right
{
  position: absolute;
  right: 10px;
}

.left
{
  position: absolute;
  left: 10px;
}

/* SearchBar and form inputs */

.formControl {
  height: 60px;
  border-radius: 30px;
  font-size: 21px;
  padding-left: 20px;
  border: 0;
}

.formControl:first-child {
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
}

.boxIcon:not(:first-child) {
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
}

#searchImg {
  width: 100%;
  margin: auto;
  fill: #3cb46d;
  padding: 20%;
}

#searchImg:hover{
  fill: #3cb46d;
  transition: .4s;
  transform: scale(1.1);
}

.boxIcon:not(:first-child):hover {
  transition: .4s;
  transform: scale(1.1);
}

.arrow {
  stroke: white;
  float: right;
  transform: scale(.4);
}

.dropItem {
  position: relative;
  list-style-type: none;
}

.dropdown {
  border-radius: 0 0 30px 30px;
  position: absolute;
  top: 60px;
  width: 100%;
  background-color: #3CB46D;
  z-index: -1;
  padding: 0;
  padding: 10px 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
}

.dropdownText {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding: 10px 0;
}

.dropdownText:hover {
  color: #CECECE;
  transition: .4s;
}

/* xpBar */

.xpBar {
  height: 10px;
  width: 100%;
  position: relative;
}

.xpDone {
  background-color: #3CB46D;
  height: 100%;
  width: 40%;
  float: left;
  transition: .4s;
}

.xpTransition {
  background-image: linear-gradient(to right, #3CB46D , #b1b1b1);
  height: 100%;
  width: 5%;
  float: left;
  transition: .4s;
}

.xpNeeded {
  background-color: #b1b1b1;
  height: 100%;
  width: 55%;
  float: left;
  transition: .4s;
}

.row {
  margin: 0;
}

.btnPrimary {
  background-color: #3cb46d;
  border-color: #3cb46d;
  color: white;
  font-weight: 600;
  position: relative;
  left: 50%;
  transform: translate( -50%);
}

.btnPrimary:hover  {
  background-color: #32965b;
  border-color: #32965b;
  color: white;
}

.btnPrimary:focus  {
  background-color: #32965b;
  border-color: #32965b;
}

.form-control:not(:first-child)
{
  max-width: 350px;
  margin: auto;
}

.formTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  color: #3CB46D;
}

.formHr {
  width: 450px;
}

.custom-file{
  max-width: 350px;
  position: relative;
  left: 50%;
  transform: translate( -50%);
}

.searchedTags {
  text-align: center;
  color: #495057;
}

.searchedTags button {
  position: relative;
  background-color: #3cb46d;
  border-color: #3cb46d;
  color: white;
  font-weight: 400;
  border: 0;
  border-radius: 3px;
  padding: 6px 12px;
  transition: .4s;
}

.searchedTags button:hover {
  background-color: #32965b;
  border-color: #32965b;
  color: white;
}

.boxTxtBarLogout {
  width: 100%;
  float: right;
  height: 100%;
}

.boxText a {
  color: white;
  transition: .4s;
}

.boxText a:hover {
  color: #CECECE;
}
